[submodule "products-ms"]
	path = products-ms
	url = https://github.com/FerrCosto/products-ms.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/FerrCosto/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/FerrCosto/orders-ms.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/FerrCosto/payments-ms.git
[submodule "invoice-ms"]
	path = invoice-ms
	url = https://github.com/FerrCosto/invoice-ms.git
